* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: teal;
  --txt-color: rgb(234, 202, 156);
  --white-color: white;
  --dark-mode-color: #000000e8;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
body {
  direction: rtl;
}
body.dark {
  background-color: var(--dark-mode-color);
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
header {
  position: sticky;
  top: 0;
  padding: 20px 0;
  background-color: var(--main-color);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .container .logo a {
  font-size: 25px;
  font-weight: bold;
  color: var(--white-color);
}
header .container img {
  width: 50px;
  cursor: pointer;
}
aside nav {
  position: sticky;
  top: 0;
  z-index: -1;
  width: 250px;
  padding: 20px;
  background-color: var(--main-color);
}
aside nav ul li {
  padding: 5px 0;
}
aside nav ul li span {
  color: var(--txt-color);
}
aside nav ul li a {
  font-size: 22px;
  padding-right: 20px;
  color: var(--white-color);
}